@charset "utf-8";

@media screen and (max-width: 599px) {

  #fullpage .section__title {
    font-size: 3rem;
  }
  #fullpage .title-wrap {
    margin-left: 0;
  }
  #fullpage .about__container,
  #fullpage .work__container {
    display: block;
  }
  .fv {
    .fv__title {
      font-size: 3rem;
    }
    .scroll {
      bottom: 0%;
    }
    .scroll__icon {
      font-size: 1.2rem;
    }
  }

  .about {
    .profile__name {
      font-size: 1.6rem;
    }
    .profile__name--en,
    .about__content {
      font-size: 1.4rem;
      line-height: 1.75;
    }
    .about__container {
      margin: 18.5% 4.1% 0 12.5%;
      width: 83%;
    }
    .profile {
      padding-left: 0;
      width: 100%;
    }
    .prf-wrap {
      margin: 12.3% 0;
      justify-content: center;
    }
    .cloud1-wrap {
      width: 9.8rem;
      height: 3.2rem;
      position: absolute;
      top: 6%;
      left: 5%;
    }
    .cloud-s1-wrap {
      width: 5.3rem;
      height: 2.6rem;
      position: absolute;
      top: 5%;
      right: 27%;
    }
    .cloud2-wrap {
      width: 20.2rem;
      height: 7.7rem;
      position: absolute;
      top: 10%;
      right: -10%;
    }
    .cloud3-wrap {
      width: 13.8rem;
      height: 5.7rem;
      position: absolute;
      bottom: 7%;
      left: -2%;
    }
    .cloud4-wrap {
      width: 23.1rem;
      height: 10.2rem;
      position: absolute;
      bottom: 1%;
      right: -5%;
      overflow: hidden;
    }
  }


  .skill {
    .pc-img-wrap {
      width: 30vw;
      top: 22%;
      left: 18%;
    }
    .sp-img-wrap {
      width: 14.1vw;
      top: 28.5%;
      right: 24%;
    }
    .skill__container {
      margin: 18.5% 4.1% 0 12.5%;
      width: 83%;
      display: block;
    }
    .title-wrap {
      width: 21%;
    }
    .skill__wrap {
      width: 100%;
      position: absolute;
      top: 40%;
      margin-top: 15.3rem;
      margin: 0;
      padding-left: 0;
    }
    .skill__html, .skill__css{
      width: 6rem;
      height: 6rem;
      line-height: 6rem;
    }
    .skill__js, .skill__gitgub {
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
    }
    .skill__php,.skill__wordpress, .skill__mysql {
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
    }
    .skill--common {
      font-size: 0rem;
      margin-right: 2px;
    }
    .skill__list {
      padding-top: 0;
    }
    .skill__content, span {
      font-size: 1.1rem;
    }
    .skill-cloud-wrap1 {
      width: 15.6rem;
      height: 5.9em;
      position: absolute;
      top: 0%;
      left: -5%;
    }
    .skill-cloud-wrap2 {
      width: 7.1rem;
      height: 3.1em;
      position: absolute;
      top: 6%;
      left: 30%;
    }
    .skill-cloud-wrap3 {
      width: 18.7rem;
      height: 6.5em;
      position: absolute;
      top: 15%;
      right: 2%;
    }
    .skill-cloud-wrap4 {
      width: 9.3rem;
      height: 3.2em;
      position: absolute;
      top: 25%;
      right: -5%;
    }
    .skill-cloud-wrap5 {
      width: 21.1rem;
      height: 7.2em;
      position: absolute;
      left: -2%;
      bottom: 0;
    }
    .skill-cloud-wrap6 {
      width: 3.8rem;
      height: 2.5em;
      position: absolute;
      left: 25%;
      bottom: 8%;
    }
    .skill-cloud-wrap7 {
      width: 3.5rem;
      height: 1.7em;
      position: absolute;
      bottom: 5%;
      right: 28%;
    }
    .skill-cloud-wrap8 {
      width: 7.7rem;
      height: 4em;
      position: absolute;
      bottom: 2%;
      right: 9.8%;
    }
    .skill__wordpress span {
      font-size: 1.1rem;
      line-height: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .br-pc {
      display: none;
    }
  }
  #fp-nav ul li {
    margin-bottom: 7px;
    height: 9px;
  }
  #fp-nav ul li a {
    width: 9px;
  }
  #fp-nav ul li .active {
    width: 18px;
  }

}
